PORT=3000
NODE_ENV=development
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/requisition_db?schema=public"
JWT_SECRET="change_this_secret"
JWT_EXPIRES_IN="1d"
ADMIN_NAME="System Admin"
ADMIN_EMAIL="admin@company.com"
ADMIN_PASSWORD="ChangeMe123!"
